.aboutme {
    margin-top: 2rem;
    text-align: left;
}

.hi {
    font-size: 2.5rem;
    font-weight: 300;
    color: #bb00aa;
    padding: 0.5rem;
    font-family: 'Courier New', monospace;
}

.name {
    color: #bb00aa;
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Courier New', monospace;
    white-space: nowrap;
}

.title {
    color: #bb00aa;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    white-space: nowrap;

}
.footer {
    color: #bb00aa;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    white-space: nowrap;
 }

 .warning {
    font-size: 1.5rem;
    font-weight: 300;
    color: #bb00aa;
    padding: 0.5rem;
    font-family: 'Courier New', monospace;
}